.App {
  text-align: center;
  background-image: url(./pics/chalkboard.jpg);
    background-size: cover;
    background-attachment: fixed;
}

main {
  display: flex;
}

.all-characters {
  display: flex;
  color: antiquewhite;
  flex-direction: column;
  width: 50%;
  border: 25px solid black;
  opacity: 0.2;
  border-radius: 15px;
  margin: 5px;
}

.all-characters:hover {
  opacity: 1.0;
}

.sorted-characters {
  display: flex;
  flex-direction: column;
  width: 50%;
  opacity: 0.2;
}

.sorted-characters:hover {
  opacity: 1.0;
}
.alive {
  display: flex;
  flex-direction: column;
  border: 25px solid lightgreen;
  border-radius: 15px;
  margin: 5px;
}



.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 15px;
}

.card {
  border: 1px solid black;
  border-radius: 15px;
  width: 200px;
  margin: 5px;
}

h3 {
  font-size: medium;
}

button {
  margin: 5px;
}